{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-danger">CHI TIẾT SẢN PHẨM</h1>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <img src="{{ Sach.img }}" class="img-fluid" alt="{{ Sach.TenSach }}" />
    </div>
    <div class="col-md-8 col-sm-12">
        <h1>{{ Sach.TenSach }}</h1>
        <h1>{{ Sach.TenTacGia|safe }}</h1>
        <h3>{{ "{:,.0f}".format(Sach.GiaTien) }} VNĐ</h3>
           {% if current_user.is_authenticated%}
            <a href="javascript:;" onclick="addToCart({{Sach.MaSach}}, '{{Sach.TenSach}}', {{Sach.GiaTien}})" class="btn btn-danger">Đặt hàng</a>
            {% else %}
            <a href="/login"  class="btn btn-danger">Đặt hàng</a>
            {% endif %}
        <a href="/" class="btn btn-primary" style="margin-left:10px;">Hủy</a>
    </div>
</div>
{% endblock %}